body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}

.navbar_logo {
    padding-left: 1em;
    font-family: 'Pacifico', cursive;
}

.navbar_menu {
    display: flex;
    padding: 0;
    list-style: none;
}

.navbar_menu li {
    padding: 8px 16px;
    font-family: 'Dancing Script', cursive;
}

.navbar_menu :hover {
    background-color: rgb(188, 185, 185);
    color: white;
    border-radius: 3px;
}

.navbar_contact {
    padding-right: 1em;
}

.navbar_contact a {
    padding: 8px 8px;
    color: black;
}

.toggleBtn {
    position: absolute;
    display: none;
    color: black;
    right: 20px;
    padding-top: 5px;
}

@media screen and (max-width:570px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 5px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .navbar_contact {
        display: none;
        justify-content: center;
        width: 100%
    }

    .toggleBtn {
        display:block;
    }

    .navbar_menu.activeBtn,
    .navbar_contact.activeBtn {
        display: flex;
        align-items: center;
    }
}

